@import url(http://fonts.googleapis.com/css?family=Nunito+Sans);

.two-colums{
    column-count: 2;

}

img{
    float: right;
    padding: 15px;
}

.container{
    display: flex;
}

.colum-1{
    margin-right: 20px;
}

.conatiner-manual * {
    background-color: cadetblue;
}

.manual-one{
    width:49%
}
.manual-two{
    position: relative;
    width: 49%;
    bottom: 926px;
    left: 580px;
}

h1, h2, h3 {
    font-family: "Nunito Sans",Tahoma, Geneva, serif;
}


 /*  
p{
font-family: "Nunito Sans";
font-style: italic;
font-size:  12px; 
font-size: large;
font-variant-caps: petite-caps;
font-weight: 600;

}
*/




/* https://lipsum.com/  text */
/* https://picsum.photos/ */