/** {
    padding: 0px;
    margin: 0px;
    
}
*/

body {
    background-color: #CCCCCC;
}

ul {
    list-style-type: none;
   
}

ul li{
    background-color: #6d7e8f;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;

    /*
    border-style: solid;
    border-color: black;
    border-width: 2px;
    */

}

a{
    color: rgb(133,0,136);
    text-decoration: none;


}

a:visited {
    color: rgb(255,0,0);

}
/*  
p{
    visibility: hidden;   // hides content, leaves space
    display: none;         // hides content, and removes space
}
*/



/*
.cool-beans > h1 {
    display: flex
}

[id] {
    display: block
}

div:first-child{
    color: antiquewhite;
}



/* 

* all elements
. means class  
nothing means tag selector
[] means attribute selector
# means ID selector
: pseudo class selector

*/