body {
    border: 5px solid black;
    height: unset;
     background-image: linear-gradient(to bottom right, red, yellow); 
}

h1{
    text-align: center;
    color: black;
    text-size-adjust: 200%;
}

h2{
    text-align: center;
    color: white;
}

canvas{
    width: 100%;
    height: 100%;
}

.base{
    display: flex;
    height: 50%;
}


.area1{
    border: 5px solid red;
    width: 50%; 
}

.area2{
    border: 5px solid blue;
    width: 50%; 
    height: 200%;
    background-color: black;
}

.area3{
    border: 5px solid green;
    width: 49.4%; 
    height: 50%;
    background-image: linear-gradient(to bottom right, blue,  black);
}


tr{
    background-color: white;  
    
}

table {
    background-color: black;
    width: 100%;
     align-items: right; 
}


