.container div:nth-child(1){
    background-color: brown;
    height: 30px;
    order: 2;
}


.container div:nth-child(2){
    background-color: blue;
    height: 75px;
    order: 3;
}


.container div:nth-child(3){
    background-color: blueviolet;
    height: 150px;
    flex-grow: 3;
}


.container div:nth-child(4){
    background-color: black;
    height: 175px;
    flex-shrink: 0;
}


.container div:nth-child(5){
    background-color: tomato;
    height: 60px;
    order: -1;
}


.container div:nth-child(6){
    background-color: seagreen;
    height: 15px;    
}

.container div {
    width: 50px;
    padding: 50px;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
        
}


.container{
    height:400px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    /* align-items: baseline; */
    align-content: flex-start;
}